# Ignore backend environment config
/backend/.env*
/frontend/.env*

# Node modules (both frontend and backend)
backend/node_modules/
frontend/node_modules/

# Logs
*.log

# Mac/VSCode system files (optional)
.DS_Store
.vscode/
scratch.vue