# Ignore backend environment config
/backend/.env*
/frontend/.env*

# Node modules (both frontend and backend)
backend/node_modules/
frontend/node_modules/

# Logs
*.log

# Mac/VSCode system files (optional)
.DS_Store
.vscode/
scratch.vue
techtonic_specs.md



# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# Frontend/Backend build outputs
src/frontend/dist/
src/backend/dist/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
